
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
<div class="background">,
    <div class="shape"></div>
    <div class="shape"></div>
</div>
<form> 
    <h3>Cytocol</h3>
    <h3>Login</h3>
    <label for="username">Username</label>
    <input type="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" placeholder="Email" id="username"  required >
    <label for="password">Password</label>
    <input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone:true}" placeholder="Password" id="password" required>
    <button (click)="login()"  id="login"><img src="../assets/logo.png" id="logo"> Log In</button>
    <button (click)="reset()"  id="reset"><img src="../assets/logo.png" id="logo"> Reset Password</button>
</form>